# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2024 The Linux Foundation

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,yaml,yml}]
indent_size = 2

[*.{markdown,sh}]
max_line_length = 80

[*.py]
max_line_legth = 120
